@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Cadastro de Clientes</h1>
    <p>Gerencie seus clientes de forma fácil e prática!</p>
</div>
